<div class="container-fluid">
    <h1 class="title">Tweets in the world</h1>
    <div id="map">
        <ul class="legend">
            <li>
                <div class="tweet_marker real_position"></div>
                Real position of a tweet
            </li>

            <li>
                <div class="tweet_marker approximation"></div>
                Calculated position, which is the center of an area like city or country.
            </li>
        </ul>
    </div>
</div>
