body{
    background-color: #191a1b;
}

h1.title{
    color: lightgrey;
}

#map{
    width:100%;
    height:640px;
    margin-top:15px;
    border:2px solid #353232;
    position: relative;
}

.legend{
    position: absolute;
    bottom:0;
    left:0;
    font-size:12pt;
    color:white;
    z-index: 1000;
}

.legend li{
    list-style-type: none;
}

.legend .tweet_marker{
    width: 15px;
    height:15px;
}

.tweet_marker{
    width:8px;
    height:8px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50%;
}

.tweet_marker.real_position{
    border-color: #09A7DB;
    background-color: transparent;
    box-shadow: 0 0 10px #09A7DB inset, 0 0 40px #09A7DB;
}
.tweet_marker.real_position + .text{
    color:#09A7DB;
}
.tweet_marker.approximation{
    border-color: #AD00BD;
    background-color: transparent;
    box-shadow: 0 0 10px #AD00BD inset, 0 0 40px #AD00BD;
}
.tweet_marker.approximation + .text{
    color: #AD00BD;
}
.tweet_marker .text{
    width:400px;
}
